<!DOCTYPE html>
<html>
    <head>
        <title>Brew One</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Permanent+Marker|Sedgwick+Ave+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


    </head>
<div class="mainNavBar">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BrewOne</a>
    </div>
    <ul class="nav navbar-nav mainNavBarOptions">
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="vendorNavBar"><li>
      <li class="receiptsNavBar"><li>
      <li class="salesNavBar"><li>
      <li class="inventoryAdjustNavBar"></li>
      <li class="userNavBar"></li>
      <li class="recipeNavBar"></li>
      <li><a href="/logout">Log Out</a></li>

    </ul>
  </div>
  </nav>
</div>
    <body>
            {{{ body }}}

<script src="js/main.js" type="text/javascript"></script>
    </body>
</html>