<div class="container">
	<div class = "row">
		<div class = "col-md-6">
			<h1>Create User</h1>

		</div>
		<div class = "col-md-6">
			<form class="signup" id="userSignUp" name="userSignUp" method="post" action="/memberauthcreate">
				<div class="container" id = "form-container">
					<div class = "form-group">
					    <label for= "firstName">First Name: </label>
					    <input type="text" class = "form-control" name="firstName" />
					</div>
					<div class = "form-group">
					    <label>Last Name: </label>
					   	<input type="text" class = "form-control" name="lastName" />
					</div>
					<div class = "form-group">
					   	<label>Email: </label>
					    <input type="text" class = "form-control" name="email" />
					</div>
					<div class = "form-group">
					    <label>Password: </label>

					        <input type="password" class = "form-control" name="password" />

					</div>
					<div class="form-group">
                		<label for ="roleType">Role</label>
                		<select id="roleType" class="form-control" name="roleType">
		                    <option value = "admin">Admin</option>
		                    <option value = "sales">Sales</option>
		                    <option value = "receipts">Receipts</option>
                  		</select>
            		</div>
					<input class="btn btn-danger" type="submit" value="Create Account">
				</div>
			</form>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="userPanel panel panel-primary">
             <div class = "panel-heading">
                <h5 class="panel-title header"><strong>Current Users!</strong></h5>
            </div>
            <div class="panel-body tablePanel">

                  <table id="currentUsersDisplay" class="table">
                   </table>

            </div>
          </div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<script src="js/users.js" type="text/javascript"></script>