body {
	background-image: url("../background.png");
  	background-size: cover;
  }

 h1 {
  	font-style: bold;
  	font-size: 120px;
  	text-align: center;
  	font-family: 'Permanent Marker', cursive;
  }

h3 {
	font-family: 'Permanent Marker', cursive;
	font-style: italic;
}

label {
	font-family: 'Comfortaa', cursive;
}

.nav {
	font-family: 'Comfortaa', cursive;
}

button {
	font-family: 'Comfortaa', cursive;
	font-style: bold;
	margin-top: 8px;
}

.container {

	width: 100%;
	padding: 30px;
}

.dangerLevel {
    background: yellow;
}

.belowZero {
    background: red;
}

#form-container {
	padding: 10px;
	margin-top: 30px;
	background-color: rgba(174, 151, 128, 0.9);
}

.hiddenContainer {
  padding: 10px;
  margin-top: 30px;
  background-color: rgba(174, 151, 128, 0.9);
}

th {
	font-family: 'Comfortaa', cursive;
}

.table {
	background-color: #EAE4DF;
}

.well {
	background-color: #EAE4DF;
}

.panel-body {
	background-color: none;
}

.header {
    text-align: center;
}

/*Sign In*/
#signInDisplay,
#signInHeader {
    margin-top: 150px;
}


/*Update Users*/
.userPanel {
    margin-top: 10px;
}

.updateBtn {
    margin-right: 15px;
    margin-top: 0px;
}
.deleteBtn {
    margin-top: 0px;
}

.tableRowHeadStyle,
.tableRowStyle {
    padding: 5px;
    border-bottom-color: silver;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}
.updateUserBtn {
    margin-right: 15px;
}

.tablePanel {
    background-color: rgba(174, 151, 128, 0.5);
}


/*Dashboard page*/

#inventoryPageHead {
  font-size: 100px;
}

.dashboardBtn {
  margin-right: 7px;
}

#tableSubHead {
  font-family: 'Lora', serif;
}

#submitUpdate {
  margin-right: 5px;
}

#allFileLinkDiv {
  margin-top: 10px;
  margin-bottom: 0px;
}

/*Current Inventory and Future inventory Table(on Dashboard)*/
.dangerLevel {
    background: yellow;
}

.belowZero {
    background: red;
}

.warningLevel {
  background: orange;
}

/*Create Recipe Page*/
.updateRecBtn {
  margin-right: 5px;
}
.updateRecHeader {
  font-family: 'Lora', serif;
}
#submitUpdateRecBtn {
  margin-right: 7px;
}
